name: Laravel CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4

      - name: Copiar .env
        run: cp .env.example .env

      - name: Criar banco de dados
        run: touch database/database.sqlite

      - name: Instalar dependências
        run: composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Gerar APP_KEY
        run: php artisan key:generate

      - name: Rodar Migrations
        run: php artisan migrate
      
      - name: Rodar testes PHP Stan
        run:  vendor/bin/phpstan analyse
     
      - name: Rodar testes
        run: php artisan test